* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --cor-principal: #d2d2d2;
    --cor-titulo: #aaf5f4;
    --cor-texto: #876532;
    --cor-fundo: #FFJJ65;
}
.dark {
    --cor-principal: #d85a11;
    --cor-titulo: #ffffff;
    --cor-texto: #24c44c;
    --cor-fundo: #000;
}

h1 {
    color: var(--cor-titulo);
    text-align: center;
    margin-top: 20px;
}
button {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
}
img {
    height: 120px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
}
p {
    color: var(--cor-texto);
    font-size: 1rem;
    font-weight: bold;
}
.container {
    background-color: var(--cor-fundo);
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section {
    width: 400px;
    margin: 15px;
    
}
